@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = "Home Page";
}
<div>
    @await Html.PartialAsync("_SelectLanguagePartial")
</div>
<div class="text-center">
    <h1 class="display-4">@Localizer["Message"]</h1>
    @{
        if (ViewBag.Role != null && ViewBag.Role[0] == "admin")
        {
            <h2>@Localizer["AdminMessage"]</h2>
            <form asp-action="Index" asp-controller="Admin">
                <button class="btn-primary">@Localizer["ManageUsers"]</button>
            </form>
        }
    }

</div>
