@using System.Web;
<div id="inputForm">
    <input type="text" id="message" />
    <input type="button" id="sendBtn" value="Отправить" />
    <input id="userName" type="hidden" value="@User.Identity.Name" />
    <input id="itemId" type="hidden" value="@Model" />
</div>
<h2>Discussion about item</h2>
<div id="chatroom"></div>
@section Scripts{
    <script src="~/js/commentChat.js"></script>
}
