@using System.Web;
<div class="container">
    <h2>Discussion about item</h2>
    <div id="inputForm">
        <input class="form-control" type="text" id="message" />
        <input class="form-control-sm m-2" type="button" id="sendBtn" value="Sent" />
        <input id="userName" type="hidden"
               value="@User.Identity.Name" />
        <input id="itemId" type="hidden" value="@Model.ItemId" />
    </div>
    <div id="chatroom" class="m-4 p-2">
        @{
            foreach (var c in Model.Comments)
            {
                <div class="message">
                    <b>@c.UserName :</b>
                    <p>@c.Content</p>
                </div>
            }
        }
    </div>
    @section Scripts{
        <script src="~/js/commentChat.js"></script>
    }
</div>