@using System.Web;
<div id="inputForm">
    <input type="text" id="message" />
    <input type="button" id="sendBtn" value="Отправить" />
    <input id="userName" type="hidden" value="@User.Identity.Name" />
</div>
<div id="chatroom"></div>
<h2>Discussion about item</h2>
@section Scripts{
    <script>
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/comments")
            .build();

        let userName = '';
        hubConnection.on("Send", function (message, userName) {

            let userNameElem = document.createElement("b");
            userNameElem.appendChild(document.createTextNode(userName + ': '));

            let elem = document.createElement("p");
            elem.appendChild(userNameElem);
            elem.appendChild(document.createTextNode(message));
            let firstElem = document.getElementById("chatroom").firstChild;
            document.getElementById("chatroom").insertBefore(elem, firstElem);

        });

        document.getElementById("sendBtn").addEventListener("click", function (e) {
            let message = document.getElementById("message").value;
            userName = document.getElementById("userName").value;
            hubConnection.invoke("Send", message, userName);
        });


        hubConnection.start();
    </script>
}
