

.container {
    font-family: 'Balsamiq Sans', cursive;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size:50px;
}

.form-img{
    margin-left:100px;
    margin-bottom:30px;
}

.sign-content{
    background-color:beige;
    border-radius:5px;
}

@media (max-width: 568px) {
    .form-img {
        margin-left: 40px;
    }
}