

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


a {
    color: #0366d6;

}

button{
    border-radius:5px;
}

.big-header {
    font-family: 'Coda Caption', sans-serif;
    font-weight: 800;
    font-size: 58px;
    color:deepskyblue;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .big-header{
        font-size:82px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; 
}

.menu-link {
    text-decoration: none;
    color: mediumvioletred;
}

.tags{
    border-radius:10px;
    border:0px;
}

.list-element darkmode--activated {
    background: red;
}



.tags-look .tagify__dropdown__item {
    display: inline-block;
    border-radius: 3px;
    padding: .3em .5em;
    border: 1px solid #CCC;
    background: #F3F3F3;
    margin: .2em;
    font-size: .85em;
    color: black;
    transition: 0s;
}

.tags-look .tagify__dropdown__item--active {
    color: black;
}

.tags-look .tagify__dropdown__item:hover {
    background: lightyellow;
    border-color: gold;
}

.img {
    position: relative;
    text-align: center;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description {
    font-size: larger;
    color: deepskyblue;
}

.darkmode--activated .field{
    background-color:black;
    color:white;
}

#dark-toggle{
    position:relative;
    width:40px;
    height:20px;
    -webkit-appearance:none;
    background:#c6c6c6;
    outline:none;
    border-radius:10px;
    box-shadow:inset 0 0 2.5px rgba(0, 0, 0, .2);
    transition:.5s;    
}

#dark-toggle:checked{
    background: #03a9f4;
}

    #dark-toggle:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: 0;
        left: 0;
        background: white;
        transform: scale(1.1);
        box-shadow: 1px 2.5px rgba(0, 0, 0, .2);
        transition: .5s;
    }
    #dark-toggle:checked:before {
        left:20px;
    }

.message {
    background-color: #b6ff00;
    padding: 10px;
    border-radius: 15px;
    margin: 25px;
    font-family: 'Roboto Mono', monospace;
}